{# Is this ludicrous or crafty? #}
{% set pageUrl = page.url.split('/').slice(2).join('/') %}

{% if locales.length %}
  <p>{{ 'select_language' | i18n }}:</p>
  <ul>
    {% for locale in locales -%}
      <li><a href="/{{ locale.code }}/{{ pageUrl }}" rel="alternate" hreflang="{{ locale.code }}">{{ locale.label }}</a></li>
    {% endfor -%}
  </ul>
{% endif %}